/*
/*/

!/Assets/
!/ProjectSettings/
!/Packages/
!/NativeWebSocket/
!/TowerGameDesign
!.gitignore
!.gitattributes
!LICENSE
!README.md

.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
RECYCLE.BIN
Desktop.ini
**/GitIgnoreFolder/
**/GitIgnoreFolder.meta
TowerGameDesign/.obsidian/plugins/execute-code/data.json
